.footer__column-link {
  display: flex;
  gap: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: var(--font-color2);
  margin-bottom: 10px;
}

.footer__column-link:hover {
  transition: 1s;
  opacity: 0.5;
}