
.feynman__title {
  font-style: normal;
  position: relative;
  z-index: 1;
  width: 648px;
  font-weight: 600;
  font-size: 120px;
  line-height: 115%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
