.khan__link {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  color: var(--font-color1);
  transition: 1s;
  text-decoration: none;

}

.khan__link:hover {
  opacity: 0.5;
}
