
:root {
  --background-color1: #FFFFFF;
  --background-color2: #1D1D1D;
  --background-color3: #F2F2F2;
  --links_figures-color: #2F80ED;
  --font-color1: #2F80ED;
  --font-color2: #FFFFFF;
}

* {
  border: 0px solid red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Inter', Arial, sans-serif;
  box-sizing: border-box;

}

.bold {
  font-weight: bold;
  font-style: normal;
}