:root {
  --background-color1: #FFFFFF;
  --background-color2: #1D1D1D;   /* в ревью кода указано, что не соответствует брифу, но это именно тот цвет, который указан в брифе */
  --background-color3: #F2F2F2;
  --links_figures-color: #2F80ED;
  --font-color1: #2F80ED;
  --font-color2: #FFFFFF;
}

/* технический аттрибут для подключения границ при разработке */
* {
  outline: 1px solid rgba(255,0,0,0.2);
}
